body {
    margin: 0;
    background-color: darkslategrey;
    text-shadow: 1px 1px 2px #000;
}

a {
    text-decoration: none;
    color: initial;
}

.navbar {
    margin: 30px;
}

.list-group-item {
    margin-block-end: 20px;
    padding: 30px;
}

.text-muted {
    margin-top: 10px;
    font-size: 1rem;
}

.float-right {
    float: right;
}

footer {
    margin: 20px;
    text-align: center;
    color: aliceblue;
}

footer a {
    color: aliceblue;
}

footer a:hover {
    text-shadow: 1px 1px 2px aliceblue;
}

.issue-btn,
.author-btn {
    cursor: pointer;
}

.hide-issue {
    display: none;
}

.show-issue {
    display: flex;
}